<h1>Homepage</h1>

  <ul>
    <li>
      <a href="/cocktails">
        All cocktails
      </a>

    </li>
    <li>
      <a href="/ingredients">
        All ingredients
      </a>
    </li>

    <li>
      <a href="/users">
        All users
      </a>
    </li>
  
    <li>
      <a href="/cocktails/new">
        Create Cocktails
      </a>
    </li>

    <li>
      <a href="/random_cocktail">
        Random Cocktail. Surprise Me!
      </a>
    </li>

  </ul>
