<h1>Homepage</h1>

  <ul>
    <li>
      <a href="/cocktails">
        All Cocktails
      </a>

    </li>
    <li>
      <a href="/ingredients">
        All Ingredients
      </a>
    </li>

    <li>
      <a href="/users">
        All Users
      </a>
    </li>
  
    <li>
      <a href="/cocktails/new">
        Create Cocktails
      </a>
    </li>

    <li>
      <a href="/random_cocktail">
        Random Cocktail. Surprise Me!
      </a>
    </li>

    <li>
      <a href="/cocktail_chat">
        Chat with Your AI Bartender
      </a>
    </li>


    

  </ul>
